<div class="container-fluid w-75 h-80 mt-5 p-20	 text-right border bg-light ">
	<div class="position-relative m-4">
		<h1> Ads List</h1>
		<% @ads.each do |ad| %>
			<h2><%= ad.car_make %></h2>
			<%= link_to "See Details", ad %>
		<% end %>
		<%= paginate @ads %>
	</div>
</div>


