<div class="container-fluid w-75 h-100 mt-5 p-5 text-right border bg-light ">
	<div class="container text-center">
		<h1> Your favourite Car </h1>
		<p>Car Make/Model</p>
 		<div class="row">
			<% @favourites.each do |favourite| %>
			<%= link_to favourite.ad.car_make, ad_path(favourite.ad_id) %>
			<% end %>
		</div>
		<div class="container text-center">
			<%= paginate @favourites %>
		</div>
	</div>
</div>
