<%= render "layouts/header" if current_user.present? %>
<br>
<div class="container text-center">
  <div class="row">
		<div class = "column">
			<p>Thank you for posting an add</p>
		</div>
	</div>
</div>

