<div class="container-fluid w-75 h-100 mt-5 p-4 text-right border bg-light ">
	<h1>Find Cars</h1>
		<div class="container text-center">
			<div class="row align-items-start">
				<div class="col-sm">
					<div class="dropdown show">
						<div class="dropdown">
							<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
								Car Make/Model
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Suzuki</a></li>
								<li><a class="dropdown-item" href="#">Toyota</a></li>
								<li><a class="dropdown-item" href="#">Mehran</a></li>
							</ul>
							</div>
						</div>
					</div>

					<div class="col-sm">
						<div class="dropdown show">
							<div class="dropdown">
								<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
									All cities
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">Lahore</a></li>
									<li><a class="dropdown-item" href="#">Karachi</a></li>
									<li><a class="dropdown-item" href="#">Islamabad</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm">
						<div class="dropdown show">
							<div class="dropdown">
								<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
									Price Range
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">2lac-4lac</a></li>
										<li><a class="dropdown-item" href="#">5lac-10lac</a></li>
										<li><a class="dropdown-item" href="#">10lac-15lac</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


		<% if filters %>
				<div class="container text-center">
					<div class="row mt-3 align-items-start">
						<div class="col-sm">
							<div class="dropdown show">
								<div class="dropdown">
									<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
										Engine Details 
									</button>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Suzuki</a></li>
										<li><a class="dropdown-item" href="#">Toyota</a></li>
										<li><a class="dropdown-item" href="#">Mehran</a></li>
									</ul>
								</div>
							</div>
						</div>

							<div class="col-sm">
								<div class="dropdown show">
									<div class="dropdown">
										<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
											Transmission Type
									</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">Lahore</a></li>
												<li><a class="dropdown-item" href="#">Karachi</a></li>
												<li><a class="dropdown-item" href="#">Islamabad</a></li>
											</ul>
									</div>
								</div>
							</div>

							<div class="col-sm">
								<div class="dropdown show">
									<div class="dropdown">
										<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
											Color
									</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">2lac-4lac</a></li>
												<li><a class="dropdown-item" href="#">5lac-10lac</a></li>
												<li><a class="dropdown-item" href="#">10lac-15lac</a></li>
											</ul>
									</div>
								</div>
							</div>
					</div>
				</div>

				<div class="container text-center">
					<div class="row mt-3 align-items-start">
						<div class="col-sm">
							<div class="dropdown show">
								<div class="dropdown">
									<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
										Milage
									</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Suzuki</a></li>
											<li><a class="dropdown-item" href="#">Toyota</a></li>
											<li><a class="dropdown-item" href="#">Mehran</a></li>
										</ul>
								</div>
							</div>
						</div>	

						<div class="col-sm">
							<div class="dropdown show">
								<div class="dropdown">
									<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
										All cities
								</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Lahore</a></li>
											<li><a class="dropdown-item" href="#">Karachi</a></li>
											<li><a class="dropdown-item" href="#">Islamabad</a></li>
										</ul>
								</div>
							</div>
						</div>	

						<div class="col-sm">
							<div class="dropdown show">
								<div class="dropdown">
									<button class="border" class="btn btn-secondary dropdown-toggle" style="width: 50%;" type="button" data-bs-toggle="dropdown">
										Engine Capacity
								</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">2lac-4lac</a></li>
											<li><a class="dropdown-item" href="#">5lac-10lac</a></li>
											<li><a class="dropdown-item" href="#">10lac-15lac</a></li>
										</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>

		<div class="container text-center">
			<div class="row align-items-start">
				<div class="col-sm">

					<div class="d-grid gap-2 d-md-flex mt-3 justify-content-md-start">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
						<%= link_to "#{filters ?	 "Less Search Options" : "More Search Options"}", home_new_path(filters: !filters), remote: true %>
						</button>
						<div class="col-sm-11 mt-3">
							<button type="button" class="border">SEARCH</button>
							<button type="button" class="border">CLEAR FILTER</button>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
